---
layout: default
---

<div class="home">

  <div class="home-info">
    <div class="intro">
    <h1>John Muyskens</h1>
    <h3><i>Envisioning Information</i></h3>
    <p class="classy">moc.liamg@sneksyumj</p>
    <p><a href="http://github.com/jmuyskens/resume">Résumé</a></p>
    <p><a href="http://github.com/jmuyskens">Github</a></p>
    <p><a href="http://twitter.com/johnmuyskens">Twitter</a></p>
  </div>

  <div class="about">
    <h2>About</h2>
    <p>
      I am a computer science undergraduate at Calvin College (graduating December 2014). I am interested in information design, from data visualization to user interfaces to graphic design. Bret Victor, Edward Tufte and Mike Bostock inspire me. My favorite tools include Python, JavaScript, D3.js and Angular.js. I am the print editor of <a href="http://www.calvin.edu/chimes">Calvin's school newspaper, <i>Chimes</i></a>. My other interests include listening to music, reading and biking.
    </p>
  </div>

  <div class="experience">
    <h2>Experience</h2>
    {% for item in site.experience %}
      <li><a href="{{ site.baseurl}}/experience.html#{{ item.anchor }}">{{ item.title }}</a></li>
    {% endfor %}
  </div>
  </div>

  <div id="web-design" class="front-portfolio-thumbs">
    <h2>Web Design</h2>
    <ul class="post-list">
      {% for item in site.web_design %}
      <li>
        <a href="{{ item.url | prepend: site.baseurl }}">
          <img class="thumb" src="{{ site.baseurl }}/images/{{ item.thumb }}">
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div id="print-design" class="front-portfolio-thumbs">
    <h2>Print Design</h2>
    <ul class="post-list">
      {% for item in site.print_design %}
      <li>
        <a href="{{ item.url | prepend: site.baseurl }}">
          <img class="thumb" src="{{ site.baseurl }}/images/{{ item.thumb }}">
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
